/* 
Här kommer jag att all layout
till min hemsida
*/

#container {
    overflow: auto;
    max-width: 960px;
    background-color:#5FBDCE;
    margin: 0 auto;
    
}

#header {
    width: 940px;
    height: 200px;
    background-image:url(../Pics/stones.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 10px;
 }

#navigation {
    width: 200px;
    float: left;
    background-color:#36BBCE;
    text-decoration:none;
}

#navigation ul {
    list-style: none;
    font-family: "Century Gothic", Verdana, Arial, Sans-Serif;
    margin: 0;
    padding: 0;
    font-size: 1.2em;

    
}


#navigation ul li {
    height:1em;
    clear:both;
    width:200px;
}

#navigation ul li a{
    display:block;
    width:140px;
    margin:0px;
    padding:0px;
    border-collapse:collapse;
}

#navigation ul li:nth-child(odd){
    background-color:#5FBDCE;    
}

#navigation ul li a:hover {
    background-color:orange;
}

#content {
    
    float: left;
    max-width: 500px;
    background-color: #5FBDCE;
    height: 100%;
    margin-left:auto;
    margin-right:auto;
}

#rubrikindex {
    width:300px;
    margin-left:auto;
    margin-right:auto;
}

#banner {
    background-color: #36BBCE;
    margin-top:2px;
    padding-top:10px;
    padding-bottom:15px;
    clear:left;
    border-radius:15px;
    
}


#parts div {
    margin-left: auto;
    margin-right: auto;
    background-color: #36BBCE;
    border-radius:15px;
}

.right {
    float:right;
}

#footer {
    width:960px;
    float: right;
    background-color:orange;
}
h2{
    margin-left:20px;
}

h3 {
    max-width:300px;
    margin-left: auto;
    margin-right: auto;
}

form {
     background-color:#5FBDCE;
}

#q1 {
    float:left;
}
#rubrik {
    clear:left;
    float:left;
}
#ru {
    clear:left;
    float:left;
}
#fr {
    clear:left;
    float:left;
}

#fråga {
    clear:left;
    float:left;
}
#submit {
    float:right;
}
fieldset {
    border: none;
}
